*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: none;
}
.navContainer{
   width: 100vw; 
   /* background-color: rgb(113, 113, 167); */
   background: #393494;
    background: linear-gradient(90deg, rgba(57, 52, 148, 1) 0%, rgba(27, 27, 128, 1) 12%, rgba(0, 212, 255, 1) 100%);
   min-height: 80px;
   display: flex;
    justify-content:center;
    align-items:center ;
    position: relative;

}
nav{
    width: 100%;
    overflow-x: none;
    padding-right: 2rem;
}
#navList{
    /* margin-left: 15px; 
    margin-right: 15px; */
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}
#navLogo{
    font-size: 2.2rem;
    color:azure;
}
a{
text-decoration: none;
color: azure;
}
#navitems{
display: flex;
gap:40px;

}
.footerBox{
     background: #393494;
    background: linear-gradient(90deg, rgba(57, 52, 148, 1) 0%, rgba(27, 27, 128, 1) 12%, rgba(0, 212, 255, 1) 100%);
    
    width: 100%;
    text-align: center;
    min-height: 40px;

    
}
.footerBox p{
    font-size: 2rem;
    color: azure;
}
.contentBox{
    width: 50%;
    margin: auto;
    /* border: 2px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding:3rem ;
    box-shadow: 0px 0px 30px black;

}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.rightBox{

    position: relative;
    /* overflow: hidden; */
    transition: all 0.3s linear 0s;
    box-shadow:(1px 1px 4px #191924c3);
    border-radius: 20px;

}
.rightBox img{
    height: 400px;
    width: 180px;
    /* border: 2px solid rgb(124, 108, 108); */
    box-shadow: 0px 0px 20px black;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}
.rightBox:hover{
    transform: scale(1.1);
}
.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftBox h2{
    font-size: 2rem;
}
.ingr{
    font-size: 1.3rem;

}
.recip{
    font-size: 1.1rem;
}
.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(38, 35, 35, 0.405);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}
.rightBox .overlay:hover{
    opacity: 1;
}
.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;
}
@media(max-width:640px){
    .container{
        flex-direction: column;
    }
    .item{
        flex-direction: column;
    }

}